POSTGRES_DB=contest_voting
POSTGRES_USER=contest
POSTGRES_PASSWORD=contest
DATABASE_URL=postgresql+psycopg://contest:contest@postgres:5432/contest_voting

# Local development
BACKEND_CORS_ORIGINS=http://localhost:5173
VITE_API_BASE_URL=http://localhost:8000

# VPS deploy
FRONTEND_DOMAIN=qsr.it.eu.org
BACKEND_DOMAIN=api.qsr.it.eu.org
